@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

 
:root {
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.h-screen {
    height: 100vh;
}

button {
    margin: 20px;
}

.red {
    color: red;
}

a {
    text-decoration: none;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

/* 11 */
.btn-11 {
    border: none;
    background: #FF006E;
      background: linear-gradient(0deg, rgba(255, 0, 110, 1) 0%, rgba(255, 0, 110, 1) 100%);
      color: #000;
      font-weight: 700;
      overflow: hidden;
}
.btn-11:hover {
      text-decoration: none;
      color: #fff;
}
.btn-11:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 10;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
  }
  .btn-11:hover{
    opacity: .9;
  }
  .btn-11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  
  
  @-webkit-keyframes shiny-btn1 {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  }
  
  

/* Font size */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 3em;
}

.item {
    box-shadow: 1px 1px 1px 1px #fff;
    border-radius: 5px;
    padding: 10px;
}

.popUp:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.tagline {
    font-size: 1.5em;
    font-weight: 700;
    color: #FF006E;
    margin-right: .5em;
    width: fit-content;
}

.jumbotron {
    margin: 1em 0;
    font-size: 3em;
    width: fit-content;
}

.bio {
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 150%;
}

a {
    color: inherit;
}

a:hover {
    color: #FFD23F; 
    text-decoration:none; 
    cursor:pointer;  
}

.fa-github {
    display: inline-block;
    margin: 0;
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

.item-3 > h2 {
    margin-top: 1em;
}

h3 {
    font-size: 1.5em;
}



.m-1 {
    margin-top: 20px;
}

.m-2 {
    margin-top: 10px;
}


h4, p, span, li {
    font-size: 14px;
    font-weight: 300;
}

.d-block {
    display: block;
}

.text-muted {
    color: #ccc;
}

.emphasis {
    font-weight: 700;
    font-style: normal;
}

body {
    max-width: 100vw;
    margin: 10px;
}

.container { 
    display: grid;
    grid-template-columns: [first] 10% [second] 10% [third] 20%;
    row-gap: 20px;
    column-gap: 20px;
}

.content {
    display: inline-block;
}


.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10 {
    margin: 5px;
}

.item-1 { 
    grid-row: 1/2;
    grid-column: 1/7;
}

.item-2 {
    justify-self: end;
    align-self: end;
    grid-row: 1/2;
    grid-column: 8/11;
}

.line {
    grid-column: 1 / 11;
    grid-row: 2/ 2;
    height: 20px;
    background: black;
}

.line-1 {
    grid-column: 1 / 11;
    grid-row: 4/ 4;
    height: 2px;
    background: black;
}

.line-2 {
    grid-column: 1 / 11;
    grid-row: 7/ 7;
    height: 2px;
    background: black;
}

.item-3 {
  grid-row: 2/4;
  grid-column: 1/7;
  
}
.item-4 {
  grid-row: 2/4;
  grid-column: 8/11;
}

img {
    margin: 5px;
    width: 100%;
    border-radius: 4px; 
}

.item-5 {            
    grid-column: 1/7;
}

.item-6 {           
    grid-column: 8/11;
}

.item-7 {            
    grid-column: 1/7;
    display: grid;
}

.item-7 h3 {
    margin-top: 10px;
}


.item-8 {            
    grid-column: 8/11;
}


.twoColumns {
    display: grid;
    grid-template-columns: 40% 50%;
    justify-items: stretch;
    align-items: stretch;
    row-gap: 2px;
    column-gap: 100px;
}

footer {
    grid-column: 1/11;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 800px) {
    body {
        margin: 10px;
    }
    .container { 
        display: flex;
        flex-direction: column; 
        min-width: 100%;
    }
    .twoColumns {
        display: flex;
        flex-direction: column;
    }
}

/* Grid */
.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  
  .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  
  .grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
  
  .grid-2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 2rem;
  }