.container { 
    display: grid;
    grid-template-columns: [first] 10% [second] 10% [third] 20%;
    row-gap: 20px;
    column-gap: 20px;
    color: black;
}

.item {
    box-shadow: 1px 1px 1px 1px #fff;
    border-radius: 5px;
    padding: 10px;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10 {
    margin: 5px;
}

.item-1 { 
    grid-row: 1/2;
    grid-column: 1/7;
}


.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

/* 11 */
.btn-11 {
    border: none;
    background: #FF006E;
      background: linear-gradient(0deg, rgba(255, 0, 110, 1) 0%, rgba(255, 0, 110, 1) 100%);
      color: #000;
      font-weight: 700;
      overflow: hidden;
}
.btn-11:hover {
      text-decoration: none;
      color: #fff;
}
.btn-11:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 10;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
  }
  .btn-11:hover{
    opacity: .9;
  }
  .btn-11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }

  .pop-up:hover {
    cursor: pointer;
    transform: scale(1.03);
}